<section>
   

     <!-- <img src="../../../assets/Screenshot (739).png" alt="open mind" style="width: 200px;
     right: 53px"> -->
     
     <img src="../../../assets/hei_-_option_4.jpg" alt="students" style="width: 100%; hegiht:auto; vertical-align: middle">

     <h1>
          About Institute
     </h1>
     <div>
          Open Mind Institute of Information Technology (OMIIT) was established in 2002 in vijayawada, Andhra pradesh, to cater to the educational needs of the general public. It acquired Autonomous status in the year 2017. The experience gained by Open Mind through its earlier institutions at Guntur has only helped in establishing very high quality standards right from the inception and also is one of the reasons for the success.
     </div>

     
     <div>
          <img src="../../../assets/admissions.jpg" alt="admissions" style="width:100%;height:auto;vertical-align: middle">

     </div>
     <h1>Admissions 2020</h1>
     <p>Our students come from diverse cultures, backgrounds, and experiences from across the globe. Welcome to our world.</p>
     <p>OMIIT offers B.Tech courses in a number of specializations. The institute also offers M.Tech, MBA and MCA programs. The annual intake for UG courses is 1140 and for M.Tech, the intake is 126 students. For MBA and MCA courses, the annual intake is 120 and 60, respectively.</p>
       <ul>
          <li>
               
               "Applications for all the courses have to be submitted online."
          </li>
          <li>
               
               "Candidates should have qualified 10+2 from a recognized board for admission to B.Tech program. Applicants who have obtained B.Tech degree can apply for M.Tech courses."
          </li>
          <li>
               
               "A graduation degree is prerequisite for admissions to MBA and MCA courses."
          </li>
          <li>
               
               "Admissions to B.Tech and M.Tech are based on candidates’ rank in  Engineering Agricultural and Medical Common Entrance Test (EAMCET) and Post Graduate Engineering Common Entrance Test (PGECET), respectively."
          </li>
          <li>
          
               "For MBA and MCA, admissions will be conducted through Integrated Common Entrance Test (ICET) conducted at state level."
          </li>
      </ul>
          <h2>Campus life</h2>
          <p>Make the most of your time on campus. Get involved. Make lifelong friends.</p>
          <div class="row">
               <div class="column">
                 <img src="../../../assets/campuslife.jpg" alt="campus" style="width:100%;height:244px">
               </div>
               <div class="column">
                 <img src="../../../assets/singing.jpg" alt="singing" style="width:100%;height:244px">
               </div>
               
               <div class="column">
                 <img src="../../../assets/laboratory.jpg" alt="singing" style="width:100%;height:244px">
               </div>
               <div class="column">
                    <img src="../../../assets/placement.jpg" alt="singing" style="width:100%;height:244px">
                  </div>
                  <div class="column">
                    <img src="../../../assets/sports.jpg" alt="singing" style="width:100%;height:244px">
                  </div>
               <div class="column">
                    <img src="../../../assets/library.jpg" alt="library" style="width:100%;height:244px">
                  </div>   
          </div>

          <div class="contact-adress">
               <h3>
                 Contact
               </h3>
               
                 <div>+91-924-867 6659</div>
                 <div>joshiakapatibandla31@gmail.com</div>
                 <div>Vijayawada,Andhra pradesh</div>
               
             </div>
</section>
